@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Areas/Mobile/Content/js/jquery.min.js"></script>
    <link href="~/Areas/Mobile/Content/js/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Areas/Mobile/Content/js/jquery-ui/jquery-ui.theme.css" rel="stylesheet" />
    <script src="~/Areas/Mobile/Content/js/jquery-ui/jquery-ui.min.js"></script>

    <link href="~/Areas/Mobile/Content/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Areas/Mobile/Content/js/bootstrap.min.js"></script>
    <title>Menu</title>
    <script>
        $(document).ready(function () {

        });
    </script>
</head>
<body>
    <div class="container" style="padding: 20px;">
        <p>
            <a href="/mobile/ajax/signin?openid=@Guid.NewGuid()">注册</a>
        </p>
        <b>学术地带</b>
        <p>
            <a href="/mobile/science/conference?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">学术会议</a>
        </p>
        <p>
            <a href="/mobile/science/news?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">学术资讯</a>
        </p>
        <b>专家视角</b>
        <p>
            <a href="/mobile/expert/conversation?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">专家笔谈</a>
        </p>
        <p>
            <a href="/mobile/expert/interview?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">专家访谈</a>
        </p>

        <b>互动中心</b>
        <p>
            <a href="http://platform.nutriciaeln.com.cn/web/hcpsite/aboutus">关于我们</a>
        </p>

        <p>
            <a href="/mobile/account/center?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">个人中心</a>
        </p>
        <p>
            <a href="/mobile/question/index?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">知识挑战</a>
        </p>

        <p>
            <a href="/mobile/question/test?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">【预先测试】知识挑战</a>
        </p>

        <p>
            <a href="/mobile/account/exchange?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4">积分兑换</a>
        </p>
        <p>
            <a href="/mobile/question/top?openid=oO2m3wTsm8cBSSVvvt0_CVBTOsn4#oO2m3wTsm8cBSSVvvt0_CVBTOsn4">活动排行榜</a>
        </p>
        <div></div>
    </div>
</body>
</html>
