@model Models.CourseLearnRecord
<div class="control-group"><label class="control-label">课程ID</label><div class="controls padt5">@Model.ScheduleID</div></div>
<div class="control-group"><label class="control-label">学员ID</label><div class="controls padt5">@Model.StudentID</div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls padt5">@Model.Status</div></div>
<div class="control-group"><label class="control-label">备注</label><div class="controls padt5">@Model.Remark</div></div>
