@model Models.CourseLearnRecord
<div class="control-group"><label class="control-label">ScheduleID</label><div class="controls padt5">@Model.ScheduleID</div></div>
<div class="control-group"><label class="control-label">StudentID</label><div class="controls padt5">@Model.StudentID</div></div>
<div class="control-group"><label class="control-label">Status</label><div class="controls padt5">@Model.Status</div></div>
