@model Models.Slider
<div class="control-group"><label class="control-label">ImgUrl</label><div class="controls padt5">@Model.ImgUrl</div></div>
<div class="control-group"><label class="control-label">LinkTo</label><div class="controls padt5">@Model.LinkTo</div></div>
<div class="control-group"><label class="control-label">摘要</label><div class="controls padt5">@Model.Abstract</div></div>
