@model Models.AuditionRecord
<div class="control-group"><label class="control-label">学员ID</label><div class="controls padt5">@Model.StudentID</div></div>
<div class="control-group"><label class="control-label">试听记录</label><div class="controls padt5">@Model.RecContent</div></div>
