@using Common;
@using Models;
@model AuditionRecord
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">学员ID</label><div class="controls"><input id="StudentID" name ="StudentID" type="text" value ="@Model.StudentID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">试听记录</label><div class="controls"><textarea id="RecContent" name ="RecContent">@Model.RecContent</textarea></div></div>
