@model Models.UserLike
<div class="control-group"><label class="control-label">CID</label><div class="controls padt5">@Model.CID</div></div>
<div class="control-group"><label class="control-label">OpenID</label><div class="controls padt5">@Model.OpenID</div></div>
<div class="control-group"><label class="control-label">TableName</label><div class="controls padt5">@Model.TableName</div></div>
<div class="control-group"><label class="control-label">RowID</label><div class="controls padt5">@Model.RowID</div></div>
