@model Models.QuestionItem
<div class="control-group"><label class="control-label">QuestionID</label><div class="controls padt5">@Model.QuestionID</div></div>
<div class="control-group"><label class="control-label">Name</label><div class="controls padt5">@Model.Name</div></div>
<div class="control-group"><label class="control-label">IsTrue</label><div class="controls padt5">@Model.IsTrue</div></div>
<div class="control-group"><label class="control-label">Tag</label><div class="controls padt5">@Model.Tag</div></div>
