@model Models.StoreTag
<div class="control-group"><label class="control-label">TagName</label><div class="controls padt5">@Model.TagName</div></div>
<div class="control-group"><label class="control-label">Remark</label><div class="controls padt5">@Model.Remark</div></div>
