@model Models.QTask
<div class="control-group"><label class="control-label">TypeID</label><div class="controls padt5">@Model.TypeID</div></div>
<div class="control-group"><label class="control-label">Title</label><div class="controls padt5">@Model.Title</div></div>
<div class="control-group"><label class="control-label">Score</label><div class="controls padt5">@Model.Score</div></div>
