@using Common;
@using Models;
@model QTask
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">TypeID</label><div class="controls"><input id="TypeID" name ="TypeID" type="text" value ="@Model.TypeID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">Title</label><div class="controls"><textarea id="Title" name ="Title" required>@Model.Title</textarea></div></div>
<div class="control-group"><label class="control-label">Score</label><div class="controls"><input id="Score" name ="Score" type="text" value ="@Model.Score" style="width:30px;" required/></div></div>
