@model Models.StoreTag_Record
<div class="control-group"><label class="control-label">StoreID</label><div class="controls padt5">@Model.StoreID</div></div>
<div class="control-group"><label class="control-label">TagID</label><div class="controls padt5">@Model.TagID</div></div>
<div class="control-group"><label class="control-label">TagName</label><div class="controls padt5">@Model.TagName</div></div>
