@using Common;
@using Models;
@model StoreTag_Record
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">StoreID</label><div class="controls"><input id="StoreID" name ="StoreID" type="text" value ="@Model.StoreID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">TagID</label><div class="controls"><input id="TagID" name ="TagID" type="text" value ="@Model.TagID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">TagName</label><div class="controls"><textarea id="TagName" name ="TagName">@Model.TagName</textarea></div></div>
