@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- logon-success -->
    <div class="logon-success">
        <!-- logo -->
        <div class="logo">
            <a href="#">
                <img src="/Areas/Mobile/Content/images/logo1.png" />
            </a>
        </div>
        <!-- logo end -->
        <div class="text-box">
            <span>注册成功</span>
            <p>国际生命早期营养专家·立足前沿科学</p>
            <strong>始于1896</strong>
        </div>
    </div>
    <!-- logon-success end -->
</div>
